

<p><strong>Title</strong>: <%= @book.title %></p>


<p><strong>Body</strong>: <%= @book.body %></p>


<div><%= link_to "Edit",edit_book_path(@book.id), class: 'visited' %> | <%= link_to "Back","/books", class: 'visited'%> </div>